.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: grey;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;

}
a{
  text-decoration: none;
  color: black;
}

.App-intro {
  font-size: large;
}
ul{
  display: flex;
  justify-content: left;
  flex-direction: column;
}
li{
  display: flex;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
